[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-chess = "==0.27.3"
gevent = "==1.4.0"
Flask = "==1.0.2"
pyserial = "*"
opencv-python = "*"
matplotlib = "*"
tensorflow = "*"
flask-socketio = "*"
mediapipe = "*"

[dev-packages]

[requires]
python_version = "3.6"
